body {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.7),
    rgba(240, 240, 240, 0.9)
  ); /* Nền sáng */
  backdrop-filter: blur(20px);
  font-family: "Poppins", sans-serif;
  color: #2c2c2c; /* Màu chữ đậm hơn cho nền sáng */
  margin: 0;
  padding: 0;
}

.ant-layout {
  background: transparent !important;
}

.ant-card {
  background: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(12px);
  border-radius: 15px !important;
  padding: 15px;
  transition: all 0.3s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1), 0 4px 20px rgba(0, 0, 0, 0.1);
}

.ant-input {
  background: rgba(255, 255, 255, 0.15) !important;
  border-radius: 10px !important;
  color: white !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  padding: 12px;
  backdrop-filter: blur(8px);
  transition: all 0.2s ease-in-out;
}

.ant-input:hover {
  background: rgba(255, 255, 255, 0.3) !important;
}

.ant-input::placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

.ant-btn {
  background: linear-gradient(135deg, #1890ff, #722ed1) !important;
  color: white !important;
  border: none !important;
  border-radius: 10px !important;
  padding: 10px 20px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.ant-btn:hover {
  background: linear-gradient(135deg, #722ed1, #1890ff) !important;
  transform: scale(1.05);
}

.ant-list {
  width: 100% !important;
  padding: 8px !important;
}

.ant-card-body {
  white-space: nowrap;
}


.ant-input {
  color: black !important;
  border: 1px solid #1677ff !important;
}

.ant-input::placeholder {
  color: rgba(0,0,0,0.88) !important;
}


.ant-pagination{
  justify-content: center !important;
}